<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button button-block button-stable"> Play </button>
    <button class="button button-block button-stable"> Favorite this second </button>
    <button class="button button-block button-stable"> Next audio </button>
    <button class="button button-block button-stable"> Previous audio </button>
    <button class="button button-block button-stable"> Rewind 15sec </button>
    <button class="button button-block button-stable"> Forward 15sec </button>
    <div class="range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>
  </ion-content>
</ion-view>
