<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.wendelyleal.fordapplink"
        version="0.7.0">

  <name>Ford AppLink</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/fordapplink.js" target="js/fordapplink.js"/>

  <js-module src="www/fordapplink.js" name="fordapplink">
    <clobbers target="fordapplink" />
  </js-module>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="fordapplink">
        <param name="ios-package" value="fordapplink" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/FordAppLink.h" target-dir="FordAppLink"/>
    <source-file src="src/ios/FordAppLink.m" target-dir="FordAppLink"/>

  </platform>

</plugin>